export PROJECT_NAME="0-core"
export PROJECT_VERSION="6.0.0"
PATH_add ./scripts
PATH_add ./automation
PATH_add ./.local/bin
export EDITOR=nvim
export VISUAL=nvim
export GIT_AUTHOR_NAME="christian"
export GIT_COMMITTER_NAME="christian"
export CORE_DEV=true
